.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.logo {
    width: 25%;
}

.logo>img{
    height: 25px;
    width: 100px;
    margin-left: 20px;
}

.sideItem {
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sideItem>p{
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
    padding:5px;
    font-weight: 600;
    background-color: burlywood;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}